.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 30px;

  .navbar-left {
    .welcome-text {
      font-size: 1.1rem;
      font-weight: 600;
      color: #3c3c3c;
    }
  }

  .navbar-right {
    .logout-btn {
      background-color: #d8c72b;
      color: #000;
      padding: 0.6rem 1.5rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #bfb023;
      }
    }
  }
}