.toast-success {
  background-color: #00875a !important; // green shade
}
.toast-error {
  background-color: #b02a37 !important; // muted red
}
.toast-info {
  background-color: #d8c72b !important; // yellow shade
  color: black !important;
}
.toast-warning {
  background-color: #fffce8 !important; // pastel yellow
  color: black !important;
}
